<a href="/home/add" id="add-row" class="btn btn-dark">Add Row</a>
<br />
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form method="post" action="/home/add">
            <div id="ppl-rows">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" name="people[0].FirstName" placeholder="First Name" class="form-control" />
                            </td>
                            <td>
                                <input type="text" name="people[0].LastName" placeholder="Last Name" class="form-control" />
                            </td>
                            <td>
                                <input type="text" name="people[0].Age" placeholder="Age" class="form-control" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>



